/* --------------- Normalize ------------------------ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
a:hover {
	color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	text-decoration: none;
}

html {
    /* Settin 1rem = 10px */
    font-size: 62.5%;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8;
}

/* --------------- Header ------------------------ */
.top {
    background: linear-gradient(to left, #fff, #74b9ff); 
    margin-bottom: 1.5rem;
}

.wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.node-container, .top-container{
    display: flex;
}

.top-container {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: flex-end;
} 

.logo {
    max-width: 4.2rem;
}

.logo img {
    width: 100%;
    height: auto;
}

.site-name {
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    color: #ffffff;
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
    letter-spacing: 1px;
}

/* --------------- Content ------------------------ */
.node-container {
    flex-direction: column;
}

.item, .text {
    margin-top: 1.5rem;
    padding: 1.7rem;

    border-radius: 5px;
    box-shadow: 0.2rem 0.2rem 1rem #aaa;

    background-color: #74b9ff;
    color: white;

    text-align: center;

    transition: all .2s;
}

.item:active,
.item:focus {
    transform: translateY(2px);
    background-color: #419fff;
    box-shadow: none;
}

.item p, .text p {
    padding: 0;
    margin: 0;
}

.item {
	cursor: pointer;
}


/* --------------- Buttons ------------------------ */

.contacts {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid white;

    display: flex;
    flex-direction: column;
}

.contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1rem;
}

.contact-div span {
    text-transform: none;
    font-size: 1.1rem;
    text-align: right;

    flex-basis: 60%;
    text-align: right;
}

.contact-div .contact-btn {
    margin-left: 2rem;

    text-decoration: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;


    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #fffa65;
    border-radius: 50%;
}

.contact-btn:focus, .contact-btn i:focus {
    outline: none;
}

.contact-btn:visited i {
    color: #fffa65;
}

.contact-btn  i {
    font-weight: 500;
    color: #fffa65;
    font-size: 2rem;
}

.phone {
    border: 1px solid #ff4d4d !important;
}

.phone i, .phone:visited i  {
    color: #ff4d4d;
}

/* --------------- BACK AND HOME BUTTON ------------------------ */
.navigation {
    display: none;
    justify-content: center;

    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;

    border: 1px solid #74b9ff;
    border-radius: 50%;

    transition: all .2s;
}

.home a i, .back a i {
    font-size: 3rem;
    color: #74b9ff;
}

.navigation a:active,
.navigation a:focus {
    transform: translateY(2px);
}

.back {
    margin-right: 2rem;
}

/* --------------- BREADCRUMBS ------------------------ */
#bc1 a i {
    font-size: 2.2rem;
}
#bc1 a {
    font-size: 0.9rem;
}

.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
  }

  .btn-default:hover::after, .btn-default:active::after, .btn-default:focus::after {
    border-left: 10px solid #8c8c8c !important;
  }

  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }

  .btn-breadcrumb .btn {
    padding: 1.1rem 0.3rem 1.1rem 1.7rem;
    border-radius: 0;
    margin-bottom: 0.2rem;
  }

  .btn-breadcrumb .btn:last-child {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .btn-breadcrumb .btn:first-child {
    padding: 0.2rem 1rem 0.1rem 1rem !important;
  }

  /** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/* The responsive part */
.btn-breadcrumb > * > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/* For phones */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+3) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* For desktops */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        width: 200px;
    }
}





