/* --------------- Normalize ------------------------ */
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
 --main-color: #74b9ff;
}

a,
a:hover {
	color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	text-decoration: none;
}

html {
    /* Settin 1rem = 10px */
    font-size: 62.5%;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8;
}

/* --------------- Header ------------------------ */
.top{
    background: linear-gradient(to right, #fff, #3097ff ); 
    margin-bottom: 2rem;
}

.wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.node-container, .top-container{
    display: flex;
}

.top-container {
    padding: 1rem 0;
}

.logo {
    align-self: flex-start;
    flex-grow: 1;
    max-width: 5.5rem;
}

.logo img {
    width: 100%;
    height:auto;
}

.site-name {
    align-self: flex-end;
    flex-grow: 1.5;
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Poiret One', cursive;
    letter-spacing: 2px;
}

/* --------------- Content ------------------------ */
.node-container {
    flex-direction: column;
}

.item, .text {
    margin-top: 1.5rem;
    padding: 1.7rem;

    border-radius: 5px;
    box-shadow: 0.2rem 0.2rem 1rem #aaa;

    background-color: var(--main-color);
    color: white;

    text-align: center;

    transition: all .2s;
}

.item:active,
.item:focus {
    transform: translateY(2px);
    background-color: #419fff;
    box-shadow: none;
}

.item p, .text p {
    padding: 0;
    margin: 0;
}

.item {
	cursor: pointer;
}


/* --------------- Buttons ------------------------ */
/* Red */

.phone {
    color: white;
    text-decoration: none;
    display: inline-block;
    max-width: 21rem;
    background-color: #CC0000;
    padding: 0.15rem 1.5rem;
    border-radius: 2.5rem;
}

.phone:hover{
    background-color: #990000;
}

.phone:active{
    background-color: #660000;
}

.phone:visited {
    background-color: #ff7f7f;
}

/* Yellow */
.url {
    color:  #1f87c1;
    text-decoration: none;
    display: inline-block;
    max-width: 22rem;
    padding: 0.25rem 1.5rem;
    margin-left: 1rem;
    border-radius: 2.5rem;
    background-color: #FFFF19;
}
.url:hover {
    color: #1f87c1;
    background-color: #cccc00;
}



/* --------------- BACK AND HOME BUTTON ------------------------ */
.navigation {
    display: none;
    justify-content: center;

    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;

    border: 1px solid var(--main-color);
    border-radius: 50%;

    transition: all .2s;
}

.home a i, .back a i {
    font-size: 3rem;
    color: var(--main-color);
}

.navigation a:active,
.navigation a:focus {
    transform: translateY(2px);
}

.back {
    margin-right: 2rem;
}

/* --------------- BREADCRUMBS ------------------------ */

#bc1 a {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn-breadcrumb .btn:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
  }

  .btn-default:hover::after, .btn-default:active::after, .btn-default:focus::after {
    border-left: 10px solid #8c8c8c !important;
  }



  .btn-breadcrumb .btn:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }

  .btn-breadcrumb .btn {
    padding: 1.2rem 0.3rem 1.2rem 1.7rem;
    border-radius: 0;
  }

  .btn-breadcrumb .btn:first-child {
    padding-right: 0.6rem;
    padding-left: 1rem;
  }

  .btn-breadcrumb .btn:last-child {
    padding-right: 1rem;
    padding-left: 1.6rem;
  }

  /** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/* The responsive part */
.btn-breadcrumb > * > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/* For phones */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+3) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* For desktops */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display: block;
    } 
    .btn-breadcrumb > * div {
        width: 200px;
    }
}





