/*Normalize*/
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: inherit; 
}

html {
 font-size: 62.5%; 
}
body {
 font-family: 'Montserrat', sans-serif;    
 box-sizing: border-box; 
}

/*header*/

.top{

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #00aded 76%, #00aded 76%, #2ba2f2 100%, #29b8e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#00aded 76%,#00aded 76%,#2ba2f2 100%,#29b8e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#00aded 76%,#00aded 76%,#2ba2f2 100%,#29b8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#29b8e5',GradientType=1 ); /* IE6-9 */
}
.wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.node-container, .top-container{
    display:flex;
}
.top-container{
    flex-direction: row;
}

.logo{
    align-self: flex-start;
    flex-grow: 1;
    max-width: 10rem;
}
.logo img {
    width: 100%;
    height:auto;
}

.site-name{
    align-self: flex-end;
    flex-grow: 2;
    text-align: right;
    font-size: 3.5rem;
    color: #ffffff;
}
/*content*/

.node-container{
    flex-direction: column;
}
.item{
    background-color: #1f87c1;
    color: white;
    margin-top: 1.5rem;
    padding: 1.5rem;
}


.item a {
    text-decoration: none;
    color: white;
}

/*breadcrums*/

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb
{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	height: 21px;
	overflow: hidden;
	width: 990px;
	padding:5px;
	border:solid 1px #dedede;
	background:#fff;
}
.breadCrumb ul
{
	margin: 0;
	padding: 0;
	height: 21px;
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../Images/Chevron.gif) no-repeat 100% 0;
	min-width: 30px;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
	overflow: hidden;
	vertical-align: middle;
	-webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(100%,rgba(255,255,255,0.01)));
}
.breadCrumb ul li span:hover
{
	-webkit-mask-image:none;
}
.breadCrumb ul li a
{
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(../Images/IconHome.gif) no-repeat 0 0;
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}
.chevronOverlay
{
	display: none;
	background: url(../Images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}






