.editor-page p {
    display: -webkit-inline-box;
}

.editor-page ul li li li li li {
    background-color: #f3f3f3;
}
.editor-page ul li li li li{
    background-color: #fbfbfb;
}
.editor-page ul li li li {
    background-color: #f3f3f3;
}
.editor-page ul li li {
    background-color: #fbfbfb;
}
.editor-page ul li {
    background-color: #f3f3f3;
}

body {
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header p {
    text-align: center;
    margin:auto;
}

/* nodes */
p, ol {
    padding: 0;
    margin: 0;
}

li {
    margin: 0.5rem;
}

/*menu buttons */

.btn {
    border: 1px solid #74b9ff;
    background-color: transparent;
    color: #74b9ff;
}

.header .btn:hover { 
    background-color: #74b9ff;
    color:white;
}

.header div {
    display: inline-block;
}

.header span {
    color: #74b9ff;
} 

/* logo */

.header .logo img {
    width: 40px;
}

/* buttons loggedIn*/

.listBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #74b9ff;
    background-color: transparent;
    border-radius: 50%;

    padding: 0;
    margin: 0;
    margin-left: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.listBtn:first-child {
    margin-left: 1rem;
}

.listBtn i {
    color: #74b9ff;
}

.listBtn:hover i {
    color: white;
}

.btn-verwerk-group {
    display: inline-block;
}

.btn-verwerk-group-3 {
    display: flex;
}
/********** ckeditor form **********/

#cke_ckeditor {
    margin-bottom: 1.5em;
    margin-top: 3em;
}
.btn-set{
    display: inline-block;
    float: right;
}

/********** logs **********/

.headWrapper{
    display: grid;
	grid-template-columns: 1fr 5fr;
    grid-row-gap: 0.2rem;
    
}
.wrapperLogs {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 4fr;
    grid-row-gap: 0.2rem;
}

.box{
    display: inline-block;
    color: #212121;
    padding: 5px;
    /*font-size: 100%;*/
    /*line-height: 26px;*/
}

/* columns logs */

.colH{
    border-bottom: 2px solid black;
    font-weight: bold;

}
.col1 {
    background-color:  #F5F5F5;
}
.col2 {
    background-color: #EEEEEE;
}
.col3 {
    background-color: #E0E0E0;
}
.col4 {
    background-color: #BDBDBD;
}
.col5 {
    background-color: #9E9E9E;
}
/* Pagination bottom of logs */
.pages {
	 padding: 1rem 0;
 }

.pageButton {
	margin-right: 1rem;
}

.menu {
	margin-top: 1rem;
}

.menu .btn {
	margin-right: 1rem;
}

.formSpacing {
    margin-left: 6rem;
}

