.editor-page p {
    display: -webkit-inline-box;
}

body {
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header p {
    text-align: center;
}

/* nodes */
p{
    padding: 0;
    margin: 0;
}
li{

    margin: 0.5rem;
}

/* logs */

.wrapperLogs {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 4fr;
    grid-row-gap: 0.2rem;
}

.box{
    display: inline-block;
    color: #212121;
    padding: 5px;
    /*font-size: 100%;*/
    /*line-height: 26px;*/
}
.colH{
    border-bottom: 2px solid black;
    font-weight: bold;

}
.col1 {
    background-color:  #F5F5F5;
}
.col2 {
    background-color: #EEEEEE;
}
.col3 {
    background-color: #E0E0E0;
}
.col4 {
    background-color: #BDBDBD;
}
.col5 {
    background-color: #9E9E9E;

}

/*menu buttons */

.header .btn{
    
    border: 1px solid #74b9ff;
    background-color: transparent;
    color: #74b9ff;
}
.header .btn:hover{
    
    background-color: #007bff;
}

/* buttons*/

.listBtn{
    border: 1px solid #74b9ff;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 0.25rem;
    padding: 0.25rem;
}
.listBtn i{
    
    color: #74b9ff;
}

.firstBtn{
    margin-left: 1rem;
}

